/*styles for header*/

.header{
    background: rgba(141, 106, 113, 0.1);
}

.banner {
    display: flex;
    width: 100%;
    gap: 50px;
}

.text{
    width: 50%;
    padding-top: 100px;
    padding-left: 120px;
    padding-bottom: 200px;
}
.title{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 50px;
    margin: 0;
    color: #272727;
}
.peragraph{
    margin: 32px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.btn{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
}

.image{
    width: 50%;
    padding-top: 50px;
    padding-right: 120px;  
}
img{
    height: 635px;
    width: 500px;
}

/*styles for main Fearured*/

.featured{
    text-align: center;
    padding-top: 80px;
    font-family: 'Lato', sans-serif;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.featured-peragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

/*styles for main category*/
.category {
    display: flex;
    justify-content: space-around; 
    padding-top: 86px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
 
}

#category-box1{
    border-radius: 300px 300px 0px 0px;
    
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
    width: 350px;
    height: 400px;

    margin: 0 10px; 
    
   
}

#category-box2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;
    width: 350px;
    height: 400px;
     
}

#category-box3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;
    width: 350px;
    height: 400px;
    margin: 0 10px; 
}
.category-image1{
    width: 250px;
    height: 300px;
    padding-top: 100px;
}

.category h3{
    margin-top: 10px;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* styles for support section*/
.support{
    height: 200px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 86px;
    text-align: center;
}


.support img{
    width: 88px;
    height: 88px;
    text-align: center;
}

.support p{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

/* styles of discount section */
.offer{
    
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
}

.offer-section-text{
    text-align: center;
    padding-top: 150px;
}

.offer-section-text span{
    color: #E55473;
}

.offer-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.offer-section-text p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.offer-section-image{
    padding: 20px;
}

.offer-section-image img{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
}

/* styles of instagram section */

.instagram-images{
    display: flex;
    justify-content: space-around;
    gap: 10px; 
    margin: 50px 200px;
}

.instagram-images img{
    width: 250px;
    height: 300px;
}

/* style for history part  */

.history-title {
    text-align: center;
    font-family: Lato;
    font-weight: 700;
    font-size: 45px;

}
.history {
    display: flex;
    justify-content: space-around;
    background-color: rgb(247, 219, 234);
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    font-family: Lato;
    color: rgb(177, 25, 63);
}

.history-title span{
    color: #af1838;
}

/* style for information section */
.info{ 
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    
    text-align: center;
    padding-top: 100px;
    /* padding-bottom: 80px; */
    margin:50px 140px;
    height: 400px;
    border-radius: 8px;
}

.info h1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.info p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.info input{
    width: 400px; 
    height: 55px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 20px;
    border: 0;
    margin-top: 20px;

    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* style for footer section  */
.footer-section{
    padding: 100px 400px;
    background: #111010;
    text-align: center;
}

.footer-section h1{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer-section p{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-section small{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-section span{
    color: #FFF;
}
